.body{
    display: grid;
    grid-template-columns: repeat(2,1fr)
}
.button{
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(abstract-art-sample-by-thaneeya.jpg);
    -webkit-text-stroke: 10px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    text-shadow: 10px 10px 10px #4e4e4e;
    border-radius: 35px;  
}
